<div class="container">
  <figure>
    <img
      src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample7.jpg" alt="profile-sample1"
      class="profile"/>
    <figcaption>
      <h3>
        {{name}}
        <span>{{description}}</span>
      </h3>
      <ul class="list-inline">
        <li>
          <a href="#" class="ico-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#" class="ico-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
      </ul>
    </figcaption>
  </figure>
</div>
